  <!-- Most of these rules are defined in the shared agent config -->
  <syscheck>
    <!-- Frequency that syscheck is executed -->
    <frequency><%= @ossec_syscheck_frequency %></frequency>
    <scan_on_start>yes</scan_on_start>
    <alert_new_files>yes</alert_new_files>

    <!-- Directories to check  (perform all possible verifications) -->
    <directories check_all="yes">/etc,/usr/bin,/usr/sbin</directories>
    <directories check_all="yes">/bin,/sbin,/boot</directories>
    <%- @ossec_scanpaths.each do |scanpath| -%>    <directories check_all="yes" report_changes="<%= scanpath["report_changes"] %>" realtime="<%= scanpath['realtime'] %>"><%= scanpath['path']  %></directories>
<%- end -%>

    <!-- Files/directories to ignore (parameterized) -->
    <ignore>/etc/mtab</ignore>
    <ignore>/etc/hosts.deny</ignore>
    <ignore>/etc/mail/statistics</ignore>
    <ignore>/etc/random-seed</ignore>
    <ignore>/etc/random.seed</ignore>
    <ignore>/etc/adjtime</ignore>
    <ignore>/etc/httpd/logs</ignore>
    <ignore>/etc/utmpx</ignore>
    <ignore>/etc/wtmpx</ignore>
    <ignore>/etc/cups/certs</ignore>
    <ignore>/etc/dumpdates</ignore>
    <ignore>/etc/svc/volatile</ignore>
  <%- @ossec_ignorepaths.each do |path| -%>
    <ignore><%= path %></ignore>
  <%- end -%>
  </syscheck>
  
  <rootcheck>
  <%- if @ossec_rootcheck == false then -%>
    <disabled>yes</disabled>
  <%- end -%>
  <%- if @ossec_rootcheck_frequency then -%>
    <frequency><%= @ossec_rootcheck_frequency %></frequency>
  <%- end -%>
    <check_unixaudit>yes</check_unixaudit>
  <%- if @ossec_rootcheck_checkports == false then -%>
    <check_ports>no</check_ports>
  <%- end -%>
  <%- if @ossec_rootcheck_checkfiles == false then -%>
    <check_files>no</check_files>
  <%- end -%>
    <check_trojans>yes</check_trojans>
    <check_dev>yes</check_dev>
    <check_sys>yes</check_sys>
    <check_pids>yes</check_pids>
    <check_if>yes</check_if>

    <rootkit_files>/Library/Ossec/etc/shared/rootkit_files.txt</rootkit_files>
    <rootkit_trojans>/Library/Ossec/etc/shared/rootkit_trojans.txt</rootkit_trojans>

    <system_audit>/Library/Ossec/etc/shared/system_audit_rcl.txt</system_audit>
    <system_audit>/Library/Ossec/etc/shared/system_audit_ssh.txt</system_audit>
  </rootcheck>

<%- if @ar_repeated_offenders != '' and @ossec_active_response -%>
  <active-response>
    <repeated_offenders><%= @ar_repeated_offenders %></repeated_offenders>
  </active-response>
<%- elsif !@ossec_active_response -%>
  <active-response>
    <disabled>yes</disabled>
  </active-response>
<%- end -%>


  <!-- Files to monitor (localfiles) -->
<%- @ossec_local_files.sort.each do |path, format| -%>
  <localfile>
    <log_format><%= format %></log_format>
    <location><%= path %></location>
  </localfile>
<%- end %>

  <localfile>
    <log_format>command</log_format>
    <command>df -P</command>
    <frequency>360</frequency>
  </localfile>

  <localfile>
    <log_format>full_command</log_format>
    <command>netstat -tulpen | sort</command>
    <alias>netstat listening ports</alias>
    <frequency>360</frequency>
  </localfile>

  <localfile>
    <log_format>full_command</log_format>
    <command>last -n 20</command>
    <frequency>360</frequency>
  </localfile>
