  <client>
  <%- if @ossec_server_ip then -%>
    <server-ip><%= @ossec_server_ip %></server-ip>
  <%- end -%>
  <%- if @ossec_server_hostname then -%>
    <server-hostname><%= @ossec_server_hostname %></server-hostname>
  <%- end -%>
    <port><%= @ossec_server_port %></port>
  <%- if @ossec_config_profiles then -%>
    <config-profile><%= @ossec_config_profiles.join(',') %></config-profile>
  <%- end -%>
  </client>

  <%= scope.function_template(["wazuh_macos/fragments/_common.erb"]) -%>
